body {
	width: 1024px; /*ancho de pantalla en landscape de las tablets*/
	border: 1px solid red;
	margin: 0 auto;
}

footer{
	text-align: center;
	background-color: blue;
	color: white;
	margin-top:10px;
}

header{
	text-align: center;
	border: 1px solid blue;
}

header img{
	float:right;
	width: 90px;
	margin-right: 15px;
	margin-top: -60px;
}

header nav{
	margin-top: 60px;
}

header nav ul li{
	display: inline-block;
	background: lightblue;
	color: white;
	margin: 0px 3px;
	padding: 3px 10px;
	border-radius: 5px;
	width: 80px;
	box-shadow: 3px 3px black;
}

header nav ul li:hover{
	background-color: black;
	color: lightblue;
}

section article{
	width: 32%;
	display: inline-block;
	vertical-align: top;
	border: 1px solid tomato;
}







