body{
	max-width: 1024px;
	min-width: 1024px;
	margin: 0 auto;
	border: 1px solid red;
	font-size: 16px;
	font-family: 'Roboto', sans-serif:;
}

header ul{
	margin-top: 50px;
	padding: 10px 0px;
}

header ul li{
	color: white;
	display: inline-block;
	text-transform: uppercase;
	font-weight: bold;
	margin: 5px 10px;
	font-size: 1.1em;
}

main{
	width: 950px;
	margin: 0 auto;
	border: 1px solid blue;
}

#logo{
	margin-top: 15px;
	margin-left: 15px;
}

#primeraSeccion article{
	display: inline-block;
}

#segundaSeccion article{
	display: inline-block;
} 

#social{
	float: right;
	margin-top: 20px;
	margin-right: 20px;
}

#social img{
	margin: 0px 2px;
}

#slider{
	width: 65%;
}

#publicidad{
	vertical-align: top;
	width: 33%;
}

#publicidad img{
	display: inline-block;
}

#publicidad span{
	text-align: center;
	display: block;
}

.border{
	border-radius: 5px;
}

.orange{
	/*Si no soporta gradientes*/
	background: orange;

	/*Opera*/
	background: -o-linear-gradient(#fc7212, #fbaf84, #fa6f11, #e4570a, #ce3d05);

	/*Safari*/
	background: -webkit-linear-gradient(#fc7212, #fbaf84, #fa6f11, #e4570a, #ce3d05);

	/*Firefox*/
	background: -moz-linear-gradient(#fc7212, #fbaf84, #fa6f11, #e4570a, #ce3d05);

	/*Genérico*/
	background: linear-gradient(#fc7212, #fbaf84, #fa6f11, #e4570a, #ce3d05);
}

/*
#fc7212, #fbaf84, #fa6f11, #e4570a, #ce3d05
*/

.white{
	color: white;
}


